## Unit 4 | Assignment - Pandas, Pandas, Pandas

## Background

The data dive continues!

## Option 1: Heroes of Pymoli

![Fantasy](Images/Fantasy.jpg)

Congratulations! After a lot of hard work in the data munging mines, you've landed a job as Lead Analyst for an independent gaming company. You've been assigned the task of analyzing the data for their most recent fantasy game Heroes of Pymoli. 

Like many others in its genre, the game is free-to-play, but players are encouraged to purchase optional items that enhance their playing experience. As a first task, the company would like you to generate a report that breaks down the game's purchasing data into meaningful insights.

In [622]:
!pwd

/Users/pooya/Documents/DataScienceCource/homeworks/04-pandas

In [623]:
import os
import json
import pandas as pd
import numpy as np

In [624]:
path = "./HeroesOfPymoli/purchase_data.json"

In [625]:
with open(path, 'r') as file:
    purchase_data = pd.DataFrame(json.load(file))
purchase_data.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

Your final report should include each of the following:

**Player Count**

* Total Number of Players

In [626]:
players_count = purchase_data["SN"].unique().size
players_count

573

**Purchasing Analysis (Total)**

* Number of Unique Items

In [627]:
items_count = purchase_data["Item ID"].unique().size
items_count

183

* Average Purchase Price

In [628]:
average_purchace_price = purchase_data["Price"].mean()
average_purchace_price

2.931192307692303

* Total Number of Purchases

In [629]:
purchase_count = purchase_data["SN"].size
purchase_count

780

* Total Revenue

In [630]:
total_revenue = purchase_data["Price"].sum()
total_revenue

2286.3299999999963

**Gender Demographics**

* Percentage and Count of Male Players

In [631]:
#count_of_gender = purchase_data[["Gender", "SN", "Item ID"]].groupby(["SN", "Gender"]).count().groupby(["Gender"]).count()
count_of_gender = purchase_data[["Gender", "SN"]].groupby(["SN", "Gender"]).count()
count_of_gender.head()

Empty DataFrame
Columns: []
Index: [(Adairialis76, Male), (Aduephos78, Male), (Aeduera68, Male), (Aela49, Male), (Aela59, Male)]

In [632]:
newdf = count_of_gender.reset_index()
newdf.head()

             SN Gender
0  Adairialis76   Male
1    Aduephos78   Male
2     Aeduera68   Male
3        Aela49   Male
4        Aela59   Male

In [633]:
male_count = newdf['Gender'].value_counts()["Male"]
male_count

465

In [634]:
def topercent(num): return "{0:.2f}%".format(num*100)
topercent(male_count/players_count)

'81.15%'

* Percentage and Count of Female Players

In [635]:
female_count = newdf['Gender'].value_counts()["Female"]
female_count

100

In [636]:
topercent(female_count/players_count)

'17.45%'

* Percentage and Count of Other / Non-Disclosed

In [637]:
other_count = newdf['Gender'].value_counts()["Other / Non-Disclosed"]
other_count

8

In [638]:
topercent(other_count/players_count)

'1.40%'

**Purchasing Analysis (Gender)** 

* The below each broken by gender
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Normalized Totals

In [639]:
purchase_data.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [640]:
purchace_count = purchase_data[["Gender", "Price"]].groupby(["Gender"]).count()
purchace_count.reindex()
purchace_count

                       Price
Gender
Female                   136
Male                     633
Other / Non-Disclosed     11

In [641]:
avarage_purchace_price = purchase_data[["Gender", "Price"]].groupby(["Gender"]).mean().reindex()

In [642]:
purchase_data[["Gender", "Price"]].groupby(["Gender"]).sum().reset_index()

                  Gender    Price
0                 Female   382.91
1                   Male  1867.68
2  Other / Non-Disclosed    35.74

# NORMALIZED TOTAL ???

**Age Demographics**

* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.) 
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Normalized Totals

In [643]:
age_bins = [0, 10, 14, 19, 200]
age_bins_names = ["<10", "10-14", "15-19", ">20"]
ages = np.array(purchase_data["Age"],dtype="int")
purchase_data["Age Tier"] = pd.cut(ages, age_bins, labels= age_bins_names)#
purchase_data.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Tier
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,>20
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,>20
2,34,Male,174,Primitive Blade,2.46,Assastnya25,>20
3,21,Male,92,Final Critic,1.36,Pheusrical25,>20
4,23,Male,63,Stormfury Mace,1.27,Aela59,>20

In [644]:
age_groups = purchase_data.groupby(["Age Tier"])
age_purchase_count = age_groups["Age"].count().reset_index()
age_purchase_count

  Age Tier  Age
0      <10   32
1    10-14   31
2    15-19  133
3      >20  584

In [645]:
age_groups["Price"].mean().reset_index()

  Age Tier     Price
0      <10  3.019375
1    10-14  2.702903
2    15-19  2.905414
3      >20  2.944349

In [646]:
age_total_purchase = age_groups["Price"].sum().reset_index()
age_total_purchase

  Age Tier    Price
0      <10    96.62
1    10-14    83.79
2    15-19   386.42
3      >20  1719.50

# What is the definition for normalized total !!!

In [652]:
age_normal_purchase = age_total_purchase["Price"] / age_purchase_cout["Age"]
age_normal_purchase

0    3.019375
1    2.702903
2    2.905414
3    2.944349
dtype: float64

**Top Spenders**

* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  * SN
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value

**Most Popular Items**

* Identify the 5 most popular items by purchase count, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

**Most Profitable Items**

* Identify the 5 most profitable items by total purchase value, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

As final considerations:

* Your script must work for both data-sets given.
* You must use the Pandas Library and the Jupyter Notebook.
* You must submit a link to your Jupyter Notebook with the viewable Data Frames. 
* You must include an exported markdown version of your Notebook called  `README.md` in your GitHub repository.  
* You must include a written description of three observable trends based on the data. 
* See [Example Solution](HeroesOfPymoli/HeroesOfPymoli_Example.pdf) for a reference on expected format.